#  python=3.10
# 我尝试了40系列的显卡，这说明30系列的显卡可能也适用
# torch==1.12.1，CUDA=11.3

# 在50系列显卡（可能更高级的显卡）
# torch=2.7.1，CUDA=12.8

tqdm==4.67.1
sentencepiece==0.2.1
sacrebleu==2.5.1
numpy==1.23.3

# -i https://pypi.tuna.tsinghua.edu.cn/simple
# -i https://mirrors.aliyun.com/pypi/simple/
# -i https://pypi.douban.com/simple/

# pip install -r .\requirements.txt -i https://pypi.tuna.tsinghua.edu.cn/simple